@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&dispaly=swap");

:root {
  /* colors */

/* Creamy White (#FDFDFB)
Milk White (#FFF9E6)
Uranian Blue (#B3E5FC)
Butter Yellow (#FFF4B1) */

  --milky-white: #fff9e6;
  --uranian-blue: #e4f6ff;
  --butter-yellow: #fff3a6;
  --cultured-2: #f2f6f7;
  --alice-blue: #f0f7ff;
  --cadet: #5d737e;
  --white: #fff;
  --black: #000;

  /* typography */

  --ff-nunito-sans: "Nuntio Sans", sans-serif;
  --ff-poppions: "Poppions", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* transition */

  --transition: 0.25s ease;

  /* spacing */
  --section-padding: 100px;

  /* shadow */

  --shadow-1: 0 5px 20px 0 #182d541a;
  --shadow-2: 0 16px 32px #071a1d1a;
}

body {
  background: var(--creamy-white);
}

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: auto;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--cultured-2);
  outline: 2px solid var(--cadet);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--cadet);
  outline: 2px solid var(--cultured-2);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 15%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0px 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.02s;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.02s;
}

.cta-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.02s;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--uranian-blue);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  cursor: pointer;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--butter-yellow);
  cursor: pointer;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--butter-yellow);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.logo {
  width: 50px;
}

#hero {
  background-image: url("img/hero4.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ccdad5;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7de;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #b6dfdd;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #d4dbad;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #cfa9dc;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #e0b1c7;
}

#product1 {
  text-align: center;
}

.property {
  text-align: center;
  padding-block: var(--section-padding);
}
.property li {
  list-style: none;
}

.property-card {
  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);
  width: 75%;
}

.property-card .card-banner {
  position: relative;
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
  width: 70%;
}

.property-card .card-banner a {
  height: 70%;
}

.property-card .card-banner img {
  height: 70%;
  object-fit: cover;
  transition: 0.5s ease;
}

.property-card:hover .card-banner img {
  transform: scale(1.1);
}

.property-card .card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(to top, #000000f2, transparent 30%); */
  pointer-events: none;
  z-index: 1;
}

.property-card .card-content {
  padding: 30px 15px 15px;
  border-bottom: 1px solid #0000001a;
}

.card-price {
  color: var(--black);
  font-family: var(--ff-poppions);
  font-size: var(--fs-5);
  margin-bottom: 5px;
}

.card-price strong {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 25px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #060606;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-color: var(--uranian-blue);
}

#banner h4 {
  color: var(--black);
  font-size: 16px;
}

#banner h2 {
  color: var(--black);
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: rgb(183, 92, 92);
}

#banner button:hover {
  background: var(--butter-yellow);
  color: var(--black);
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b2.jpg");
  min-width: 630px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-color: orange;
  padding: 30px;
  margin-bottom: 20px;
}

#sm-banner .banner-box2 {
  background-image: url("img/banner/b2.jpg");
  background-color: #bcd569;
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: var(--butter-yellow);
  border: 1px solid var(--butter-yellow);
  color: var(--black)
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b2.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-color: rgb(130, 215, 173);
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url("img/banner/b2.jpg");
  background-color: #d091e4;
}

#banner3 .banner-box3 {
  background-image: url("img/banner/b2.jpg");
  background-color: #8ab1d4;
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

.cta {
  background: linear-gradient(
    to bottom,
    var(--white) 50%,
    /* var(--uranian-blue) 50% */
  );
  padding-block: var(--section-padding);
}

.cta-card {
  background: var(--uranian-blue);
  padding: 50px 25px;
  box-shadow: var(--shadow-2);
}

.cta-card .card-content {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.cta-card .card-title {
  color: var(--black);
  line-height: 1.3;
  margin-bottom: 15px;
}

.cta-card .card-text {
  color: var(--black);
  font-size: var(--fs-5);
  line-height: 1.8;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black);
  background: var(--white);
  box-shadow: var(--shadow-2);
  border-color: var(--white);
  margin-inline: auto;
}

.cta-btn:is(:hover, :focus) {
  background: none;
  background-color: var(--butter-yellow);
  border-color: transparent;
}

.cta-btn::before {
  background: var(--black);
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b11.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: var(--uranian-blue);
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 600;
  color: var(--black);
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: var(--butter-yellow);
  color: var(--black);
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
  width: 50px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

#page-header {
  background-color: var(--uranian-blue);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

/* About-Us page */
#page-header .about-header {
  background-image: url();
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head div {
  padding-left: 40px;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 70%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 80%;
  height: 100%;
  border-radius: 20px;
}

/* cart page */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: var(--butter-yellow);
  color: var(--black);
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

@media (min-width: 600px) {
  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has-scrollbar > li {
    min-width: calc(50% - 12.5px);
  }

  .property .section-p1 {
    padding: 40px 80px;
  }

  .cta-card {
    --fs-2: 1.5rem;
  }
}

@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--uranian-blue);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  .mobile {
    display: flex;
    align-items: center;
  }

  .mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: inline;
    position: absolute;
    top: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  .section-p1 {
    padding: 40px 40px;
  }

  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  .property-card {
    width: auto;
    height: auto;
  }

  .property-card .card-content {
    width: auto;
    height: auto;
    /* padding-inline: 30px; */
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  .cta-card {
    --fs-2: 1.625rem;
  }

  #newsletter .form {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .property-card {
    width: auto;
    height: auto;
  }

  .property-card .card-content {
    width: auto;
    height: auto;
    padding-inline: 30px;
  }

  /* CTA */
  .cta-card {
    --fs-2: 1.875rem;
    --fs-5: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .cta-card:is(.card-content, .cta-btn) {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .cta-card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    width: 130px;
    margin: 0 0 15px 0;
  }

  .property-card {
    width: auto;
    height: auto;
  }

  .property-card .card-content {
    width: auto;
    height: auto;
    /* padding-inline: 30px; */
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer {
    padding: 20px 40px;
  }

  footer .copyright {
    text-align: start;
  }

  /* about-us page */
  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 30px;
  }

  #about-head div {
    padding-left: 0px;
  }

  #about-app .video {
    width: 100%;
  }

  /* cart page */
  #cart-add {
    flex-direction: column;
  }

  #coupon {
    width: 100%;
  }

  #subtotal {
    width: 100%;
    padding: 20px;
  }
}
